
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #111;
  text-decoration: none;
}

.btn {
  padding: 10px 20px; 
  margin: 0 5px; 
  font-size: 0.99rem;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #fff;
  background-color: blue; 
}

.btn:hover {
  cursor: pointer; 
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #41423c;
  font-family: sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.container {
  width: 450px;
  padding: 50px 20px; 
  background-color: rgb(237, 124, 124);
  border-radius: 5px;
}

h1 {
  font-size: 1.1rem;
  color: rgb(14, 13, 13);
  margin-bottom: 20px;
}

.joke-text {
  font-size: 1.8rem;
  margin-bottom: 30px;
  font-family: monospace;
}
.new-joke-btn {
  background-color: #FF0000;
}
